.youtube > a {
    background-color: #261691;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.1);
    height: 50px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 80px;
    height: 20px;
    margin-top: 10px;
}

youtube > a:hover {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.1);
    height: 50px;
    display: inline-block;
    color: #261691;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 80px;
    height: 20px;
    margin-top: 10px;
}
